/* body{
  background:red;
} */

.header{
   width:110%;
   position:relative;
   right:8px;
   bottom:20px;
   padding:40px 20px;;
   background: black;
}


.nav{
   position:relative;
   color:white;
   width:30%;
   margin:auto;
   
}

.txt{
    position:relative;
    color:#ca0404;
    text-decoration:none;
    padding: 20px;
    top:8px;

  }
  a:hover{
   background: #ca0404;
   color:white;
}